html, body {
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

.sofia-sans-<uniquifier> {
  font-family: "Sofia Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.logo {
  position: fixed;
  top: 15px;
  left: 25px;
  width: 200px;
}


.container-index {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: red;
}

.title-index {
  color:#ffffff;
  font-family: "Sofia Sans", sans-serif;
  font-weight:700;
  font-size:36px;
}

footer {
  position: fixed;
  bottom: 15px;
  left: 25px;
  color:#ffffff;
  font-family: "Sofia Sans", sans-serif;
  font-weight:700;
  font-size:12px;
}

.link_footer {
  color: #ffffff;
  text-decoration: none;
}

.link_footer:hover {
  padding-bottom:1px;
  border-bottom: 1px solid #ffffff;
}
