html, body {
  height: 100%;
  margin: 0;
}

.container-index {
  text-align: center;
  height: 100%;
  border: 3px solid green; 
  margin: 0;
  padding: 0;
  background-color: red;
}

.logo {
  position: fixed;
  top: 15px;
  left: 25px;
}


.title-index {
  position: relative;
  top: 40%;
}

footer {
  position: fixed;
  bottom: 15px;
  left: 25px;
}
